
/* Applied to even element intitially */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif 
}

a:visited {
    text-decoration: none;
}


/* Navigation Bar */

.navbar {
    width: 100%;
    height: 15%;
    text-align: center;
    margin: 2% 0 2% 0;
    
}

.navbar li {
    display: block;
    float: left;
    width: 20%;
    list-style-type: none;
}

.navbar li a {
    font-size: 25px;
    background-color: CFEC9D;
    border-radius: 25px;
    background-position: center;
    margin: 5%;
    padding: 20px;
    text-decoration: none;
    line-height: 60px;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
}

.navbar li a:visited {

    text-decoration: none;
    color: black;
    
}

.navbar li a:hover {
    border-radius: 100px;
    background-color: 58AC58;
    transition-duration: 1s;
}

@media screen and (max-width: 800px) {
    .navbar {
        height: 70px;
        text-align: center;
        margin: 2% 0 300px 0;
    }

    .navbar li {
        float: none;
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }
}

/* Landing Page/Index */

.bio {
    display: flex;
    justify-content: center;
    height: 50%;
    margin-top: 70px;
}

.bio_photo {
    height: 80%;
    margin-right: 5%;
    border-radius: 50%;
}

.bio_photo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
}

.intro {
    font-size: 16px;
    margin-left: 5%;
    padding: 5%;
    width: 20%;
    height: 65%;
    line-height: 1.5;
    margin-top: 40px;
    background-color: CFEC9D;
    border-radius: 100px;
    word-wrap: break-word;
    overflow: auto;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
}

.slideshow_container {
    width: 700px;
    height: 40%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    border-radius: 100px;
}

#project_description {
    text-align: center;
}

#project_description h1 {
    margin: 20px;
}

#project_description p {
    margin: auto;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
    background-color: CFEC9D;
    border-radius: 25px;
    padding: 10px;
    width: 40%;
    margin-bottom: 30px;

}

.previous, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    color: 0F4800;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 0px 3px 3px 0px;
    user-select: none;
}

.next {
    border-radius: 3px 0px 0px 3px;
    right: 0;
}

.previous:hover,
.next:hover {
    background-color: rgba(158, 215, 143, 0.7);
}

@media screen and (max-width: 1000px) {

    .bio {
        display: inline;
        text-align: center;
        
    }
    
    .bio_photo {
        min-height: 400px;
        min-width: 450px;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 400px;
    }
    
    .intro {
        margin-left: 0;
        width: 100%;
        height: 20%;
        margin-bottom: 10%;

    }

    .slideshow_container {
        width: 80%;
    }

}

/* About Me Page */

.about_me_text {
    text-align: center; 
    float: left;
    width: 40%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.about_me_photo {
    width: 30%;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
}

.about_me_text h1 {
    margin-top: 60px;
    line-height: 60px;
    
}
.about_me_text p {
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    background-color: CFEC9D;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
}

@media screen and (max-width: 1000px) {
    
    .about_container {
        margin-top: 350px;
    }

    .about_me_text {
        float: none;
        width: 80%;
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 0%;
    }

    .about_me_text p {
        text-align: center;
    }

    .about_me_photo {
        width: 30%;
        margin-top: 60px;
        margin-left: 35%;
    }
}

/* Contact Page */

.contact {
    text-align: center;

}

.contact h1 {
    margin-bottom: 2%;
    font-size: 50px;
}

.contact p {
    font-size: 20px;
    line-height: 40px;
    background-color: CFEC9D;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
    width: 400px;
    margin: auto;
}

.reach_out {
    margin-top: 40px;
    margin-bottom: 100px;
    max-height: 100%;
    text-align: center;
}

.reach_form * {
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: CFEC9D;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);

}

.reach_form p {
    border: none;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
    box-shadow: none;
}

.reach_form textarea {
    margin: auto;
    margin-top: 40px;
    width: 30%;
    height: 10%;
}

.reach_form button {
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    .contact {
        margin-top: 350px;
    }
}


/* Resume Page */

.resume_introduction {
    text-align: center;
    padding: 0px 0 30px 0;
}

.resume_introduction p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
    background-color: CFEC9D;
    font-size: 20px;
    padding: 10px;
}

.resume_container {
    text-align: center;
    
}

.resume_container iframe {
    width: 800px;
    height: 90%;
    margin-top: -30px;
}

@media screen and (max-width: 1000px) {

    .resume_container iframe {
        width: 60%;
        height: 90%;
        margin-top: -30px;
    }

    .resume_introduction {
        margin-top: 350px;
    }

}

/* Feedback Page */

#comment_container * {
    margin-bottom: 20px;
    margin-left: 5%;
}

#comment_container #namebox {
    background-color: CFEC9D;
    width: 10%;
    min-width: 110px;
    height: 2%;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);

}

#comment_container #txt1 {
    background-color: CFEC9D;
    width: 30%;
    height: 10%;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
}

::placeholder {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.navbutton1,
.navbutton2 {
    margin-bottom: 20px;
    margin-left: 5%;
    padding: 5px;
    background-color: CFEC9D;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
    border-radius: 20px;
    cursor: pointer;
}

.navbutton2 {
    margin-left: 1%;
}


#cmtlist {
    background-color: CFEC9D;
    border-radius: 50px;
    box-shadow: 4px 4px 2px rgb(158, 215, 143);
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-bottom: 50px;
}

#cmtlist .comments {
    margin-left: 5%;
    margin-top: 50px;
    margin-right: 5%;
}

.comment_heading {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 30px;
}

#cmtlist .comment_name{
    margin-left: -3%;
    font-size: 22px;
    font-weight: bold;
    line-height: 70px;
    padding: 3px;
    word-wrap: break-word;
}

#cmtlist .comment_text{
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
    word-wrap: break-word;

}

@media screen and (max-width: 1000px) {

    #comment_container {
        margin-top: 350px;
    }
}

/* Project 1 Page */

.project1_container {
    text-align: center;
    margin-top: 30px;
}

.project1_container img {
    height: 55%;
    border-radius: 30px;
}

.project1_container h1, h2 {
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    padding: 15px;

}

.project1_container h2 {
    margin-top: 50px;
    margin-bottom: 150px;
    background-color: CFEC9D;
    border-radius: 15px;
    padding: 5px;
}

.prototype_description {
    width: 50%;
    margin-top: 50px;
    float: left;
}

.prototype_description img {
    width: 60%;
    height: 50%;
    border-radius: 25px;
}

.prototype_description p {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    background-color: CFEC9D;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20%;
}

@media screen and (max-width: 1000px) {
    .project1_container {
        margin-top: 350px;
    }
}



